<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <title>Shinobis</title>
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        <a href="/shinobis">SHINOBIS</a>
        <a href="/shinobis/new">ADD NINJA</a>
        <% if (user) { %>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>
    <div id="mid">
    <h1>SHINOBIS</h1>
    <section id="images">
        <% shinobis.forEach(function(s) { %>
            <!-- <td>
                <a href="shinobis/<%=s._id%>" class="ninjas"> <%= s.name %> </a>
            </td> -->
            <div class="box"> 
            <% if (s.data) { %>
                <a href="shinobis/<%=s._id%>">
                        <img src="data:image/<%=s.contentType%>;base64, <%=s.data.toString('base64')%>"  width="300" height="200">        
            <% } %>
                </a>
            </div>
        <% }) %>
    </section>   
    </div>
    <section id="right"><img src="https://i.imgur.com/EDFXBoL.jpeg"/></section>
    <section id="left"><img src="https://i.imgur.com/l3liKQZ.jpeg"/></section>
</body>
</html>
